body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: auto;
}

/* navigation */

.nav-header {
    max-width: 1600px;
    padding-block: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: #05022D;
}

.nav {
    background: #05022D;
}

.nav-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    padding-inline: 15px;
}

.nav-number {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding-inline: 10px;
}

.nav-menu-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu-social a {
    text-decoration: none;
    color: #fff;
    padding-inline: 5px;
}

/* header */

.header {
    background-image: linear-gradient(to top, rgba(44, 30, 110, 0.56), rgba(44, 30, 110, 0.56)), url('./img/walppaer.png');
    background-size: cover;
}

.header-info {
    max-width: 980px;
    margin: auto;
}

.header-info h1 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 215px;
    margin: 0;
    font-size: 45px;
    line-height: 55px;
    color: #fff;
}
.header-info h3 {
    font-size: 25px;
    line-height: 45px;
    color: #fff;
    padding-bottom: 270px;
}

/* expectations 2 BLOCK*/

.expectations h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 75px;
    font-size: 25px;
    line-height: 30px;
}

.expectations-all-paragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.expectations-info {
    max-width: 500px;
    
}

.TwoBlockImage {
    max-width: 100%;
    max-height: auto;
}

.expectations-paragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expectations-paragraph img {
    width: 25px;
    height: 31px;
    margin-inline: 10px 20px;
}

.expectations-paragraph p {
    font-size: 12px;
    line-height: 25px;
}

/* guarantees */

.guarantees {
    padding-bottom: 140px;
}

.guarantees h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 125px;
}

.guarantees-all-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.guarantees-paragraph-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.guarantees-paragraph-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.guarantees-paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450px;
    font-size: 18px;
    line-height: 25px;
}

.guarantees-paragraph img {
   height: 80px;
}


/* assurance */

.assurance {
    background-image: linear-gradient(to top, rgba(44, 30, 110, 0.56), rgba(44, 30, 110, 0.56)), 
    url('./img/walppaper2.png');
    background-size: cover;
    padding-top: 133px;
    padding-bottom: 132px;
}

.assurance-info {
    margin: auto;
    max-width: 650px;
    text-align: start;
    background: #100a339d;
    color: #fff;
    border-radius: 8px;
    padding: 0 70px 61px 80px;
}

.assurance-info h2 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 62px;
    margin-bottom: 62px;
    font-size: 25px;
    line-height: 45px;
}

.assurance-info p {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 20px;
}